<script>
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
</script>
<%= render :partial=>'calendar' %>

<h1>New event</h1>
<div id='calendar'></div>
<div id='event'></div>

<%= render 'form' %>

<div id="after_create">Hi</div>
<%= link_to 'Back', events_path %>

